.status {
    -fx-label-padding: 0;
}

.status .radio {
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-background-image: url("toggle_1.png");
    -fx-background-size: 15px;
}

.status:selected .radio {
    -fx-background-image: url("toggle_2.png");
}

.status .radio .dot {
    -fx-background-color: transparent;
}

.status:disabled {
    -fx-opacity: 1;
}